<?xml version="1.0" encoding="UTF-8" ?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">
    <persistence-unit name="pu">
        <description>Hibernate EntityManager Demo</description>
        <class>com.cph.CA1Backend.entities.Person</class>
        <class>com.cph.CA1Backend.entities.Cityinfo</class>
        <class>com.cph.CA1Backend.entities.Address</class>
        <class>com.cph.CA1Backend.entities.Hobby</class>
        <class>com.cph.CA1Backend.entities.Phone</class>
        <class>com.cph.CA1Backend.entities.Socialhub</class>
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
        <properties>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect"/>
            <property name="hibernate.hbm2ddl.auto" value="update"/>
            <property name="javax.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
            <property name="javax.persistence.jdbc.url" value="jdbc:mysql://127.0.0.1:4000/ca1"/>
            <property name="javax.persistence.jdbc.user" value="ca1"/>
            <property name="javax.persistence.jdbc.password" value="LlqDfpXMJwFIZjK8qCBu"/>
        </properties>
    </persistence-unit>
</persistence>